.outer {
  width: 100%;
  background-color: red;
  display: flex;
  padding: 0.25em;
  gap: 0.25em;
  border-radius: 22px;
}

.option {
  all: unset;
  flex: 1;
  padding: 0.15em;
  color: white;
  background-color: rgb(181 130 221);
  transition: background-color 300ms;
}

.selected {
  background-color: skyblue;
}

.option:first-child {
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.option:last-child {
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
