button {
  appearance: none;
}

.base {
  width: 7.5rem;
  height: 2.3rem;
  border-radius: 2rem;
  margin: 2px;
  border: solid black 1px;
  font-size: 0.2rem;
  align-self: last baseline;
  background-color: white;
}

/* TODO: adjust styles according to design requirements */
.regular {
  min-width: 50%;
  width: auto;
  height: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
  font-family: "SUITE-Bold";
  font-size: 1rem;
  padding: 0 10%;
}

.regular:hover {
  background-color: #f4ff9f;
  cursor: pointer;
}

.prominent {
  background-color: skyblue;
}
