button {
  appearance: none;
}

.base {
  border: none;
  width: 7.5rem;
  height: 2.3rem;
  border-radius: 2rem;
  margin: 2px;
  font-size: 0.2rem;
  align-self: last baseline;
  background-color: rgb(171 180 218);
  color: rgb(255, 255, 218);
  cursor: pointer;
}

/* TODO: adjust styles according to design requirements */
.regular {
  border: none;
  min-width: 20%;
  width: auto;
  height: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
  font-family: "SUITE-Bold";
  font-size: 1rem;
  padding: 0 10%;
}

.tributeList {
  min-width: 45%;
  width: auto;
  height: 2.3rem;

  text-align: center;
  font-family: "SUITE-Regular";
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(185, 182, 182);
}

.regular:hover {
  background-color: rgb(181 130 221);
  color: #f4ff9f;
}

.prominent {
  background-color: rgb(255, 194, 114);
  color: aliceblue;
  font-size: 20px;
}
.prominent:hover {
  background-color: rgb(255, 155, 49);
  color: aliceblue;
  font-size: 20px;
}

.close {
  background-color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 5rem;
}
.tutotial {
  min-width: 40%;

  height: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
  font-family: "SUITE-Bold";
  font-size: 1rem;
  padding: 0 10%;
}

.nickname {
  border-radius: 0.6rem;
  min-width: 30%;
  width: auto;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-family: "SUITE-Bold";
  font-size: 0.7rem;
  /* padding: 0 10%; */
}
