.base {
  width: 10rem;
  height: 2.7rem;
  border-radius: 0.5rem;
  padding: 2px;
  outline: none;
  border: solid rgb(2, 2, 2) 0.1rem;
  text-indent: 0.5rem;
}

.base::placeholder {
  text-indent: 0.5rem;
  font-family: "SUITE-Regular";
}

.base:focus {
  border: solid rgb(255, 199, 199) 0.15rem;
}

.regular {
  min-width: 100%;
  width: 20rem;
}

.short {
  min-width: 50%;
  width: 10rem;
}

.regular::placeholder {
  text-indent: 0.5rem;
  font-family: "SUITE-Regular";
}

.regular:focus {
  border: solid rgb(255, 199, 199) 0.15rem;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userSearch {
  width: 100%;
  height: 2.3rem;
  margin: 1rem 1rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.regular:focus {
  border: solid rgb(255, 199, 199) 0.15rem;
}
