.photoGrid {
  width: 100%;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
}

.photoGrid img {
  width: 100%;
  aspect-ratio: 1;
}

.uploadPreview {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.75);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.uploadPreview svg {
  align-self: center;
  justify-self: center;
}

.uploadPreview img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.uploadPreview img,
.uploadPreview svg {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
